<div class="emblem-repeater-container">
	<div ng-repeat="character in pc.characters">
		<a ng-href="#/details?user={{pc.userId}}&index={{$index}}">
			<div class="emblem-container">
				<div class="emblem-background" 
				 ng-style="{ 'background-image': 'url(' + pc.getImageURL(character.backgroundPath) + ')' }">
					<img ng-src="{{ pc.getImageURL(character.emblemPath) }}" />
					<div class="player-class">
						{{ pc.getHashValue(character.characterBase.classHash) }}
					</div>
					<div class="player-race">
						{{ 
							pc.getHashValue(character.characterBase.raceHash) + 
							" " + 
							pc.getHashValue(character.characterBase.genderHash)
						}}
					</div>
					<div class="level">
						{{  character.characterLevel }}
					</div>
				</div>
			</div>
		</a>
	</div>
	<div>
		<input type="text" ng-model="pc.userId" class="search-box"/>
		<button class="search-button" ng-click="pc.getDataForUser()">Find Your Guardians</button>
	</div>
</div>