body {
	background-color: #1E242B;
	width: 960px;
	margin: 0 auto;
	border: 1px solid;
}

header {
	background-image: url("http://2.bp.blogspot.com/-uETxLlTpKlY/UUUYf4hHFeI/AAAAAAAANkQ/nJU9BMK8KTk/s1600/destiny-header-logo.jpg");
	background-repeat: no-repeat;
	width: 960px;
	height: 165px;
}

button.search-button {
	margin: 10 0;
}

div.emblem-container {
	margin-bottom: 10px;
	position: relative;
	top: 0;
	left: 0;
}

div.emblem-background {
	width: 474px;
	height: 96px;
}

div.player-class,
div.player-race,
div.level {
	color: white;
	text-transform: capitalize;
	font-size: 28px;
	position: absolute;
	top: 20px;
	left: 105px;
}

div.player-race {
	font-size: 18px;
	top: 65;
}

div.level {
	color: #F5DC56;
	font-size: 40px;
	left: 375px;
}

div.level:before {
	content: "\2726";
  	display: inline-block;
}