body {
	background-color: #1E242B;
	width: 1024px;
	margin: 0 auto;
	font-family: arial, helvetica, sans-serif;
}

div.view-container {
	background-image: url(../resources/images/hunter.jpg);
	background-size: 100%;
	height: 100%;
	background-repeat: no-repeat;
	margin-top: 100px;
}

input.search-box {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

button.search-button {
	margin: 10 0;
}

div.content-container {
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	width: 53%;
	min-height: 260px;
	padding: 20px;
	position: relative;
	top: 6%;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

div.emblem-container {
	margin-bottom: 10px;
	position: relative;
	top: 0;
	left: 0;
}

div.emblem-background {
	width: 474px;
	height: 96px;
}

div.player-class,
div.player-race,
div.level {
	color: white;
	text-transform: capitalize;
	font-size: 28px;
	position: absolute;
	top: 20px;
	left: 105px;
}

div.player-race {
	font-size: 18px;
	top: 65;
}

div.level {
	color: #F5DC56;
	font-size: 40px;
	left: 375px;
}

div.level:before {
	content: "\2726";
  	display: inline-block;
}

div.detail-container {
	color: white;
	margin-top: 2%;
	padding: 30px;
}

div.detail-container div.detail h1 {
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

div.detail-container div.detail h3 {
	font-size: 14px;
	letter-spacing: 0.5em;
	font-weight: lighter;
	width: 32%;
	margin: 0;
	padding: 0;
}

div.loader {
	color: white;
	font-size: 24px;
	width: 100%;
	text-align: center;
}